/* Post form */

.form {
  margin-top:20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px auto;
  border: 1px solid gray;
  width:80%;
  padding:30px;
  animation: appear 0.5s;
}



.form-heading {
  text-align: center;
}
.form-field {
  padding: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.form-field label {
  min-width:100px;
  display: inline-block;
  text-align: left;
}
.form-field input {
  line-height: 1.2em;
}


/* Home post listing*/

.posts {
  display: flex;
  flex-direction: column;
  animation: appear 0.5s;
}

.post {
  width:90%;
  margin: 0 auto;
  border-bottom: 1px solid rgb(226, 220, 220);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 5px;
}

.post > * {
  padding: 10px;
  width:30%;
}

.post-url {
  text-align: left;
}

.post-edit-link,.post-open-new{
  text-decoration: none;
}

.post-actions {
  display: flex;
  flex-wrap: wrap
}

