.form {
  margin-top:20px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height:150px;
  justify-content: space-around;
}

.form-field {
  width:100px;
  display: flex;
  justify-content: flex-end;
}

.form-field label {
  padding-left:0;
  flex-grow: 1;
}
.form-field input {
  margin-left:20px;
  flex: 2;
}


.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.post {
  flex-grow: 1;
  border-bottom: 1px solid rgb(226, 220, 220);
  padding:15px;
  text-align: left;
  display: flex;
  flex: 1;
}

.post-url {
  flex-basis: 60%;
  flex-grow:2;
}

.post a {
  display: inline-block;
  flex-grow: 1;
  border: 1px solid gray;
  text-decoration: none;
  margin-left: auto;
  flex: 1;
  text-align: center;
}