.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header a {
  padding-left:10px;
  color: palegreen;
}

.btn-newpost {
  padding-right: 20px;
  margin-left: auto;
}

.btn {
  user-select: none;
  outline: none;
  padding:10px;
  border: 0;
  background:none;
  box-shadow: none;
  border-radius: 4px;
}

.btn-round{
  text-align: center;
  display:inline-block;
  font-size:2.2em;
  line-height:18px;
  height:30px;
  width:30px;
  border-radius:50%;
  color: white;
}

.btn-round:hover{
  color:lightgray;
}


.btn-default {
  background-color: rgb(35, 129, 236);
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
