.app {
  text-align: center;
  margin-left: auto;
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-header a {
  padding-left:10px;
  color: palegreen;
}

.logo {
  display: inline-block;
  border: 1px solid rgb(73, 139, 224);
  border-radius: 50%;
  width:30px;
  height:30px;
  line-height: 30px;
  background-color: rgb(73, 139, 224);

}
.logo::after{
  content: ' ';
}
.logo:hover {
  animation: spin 0.5s;
}

.btn-newpost {
  padding-right: 20px;
  margin-left: auto;
}

.btn {
  user-select: none;
  padding:10px;
  border: 0;
  background:none;
  box-shadow: none;
  border-radius: 4px;
}

.btn-round{
  text-align: center;
  display:inline-block;
  font-size:2.2em;
  line-height:18px;
  height:30px;
  width:30px;
}

.btn {
  user-select: none;
}

.btn-round{
  display:inline-block;
  font-size:2em;
  line-height:18px;
  height:30px;
  width:30px;
  border-radius:50%;
  color: white;
}


.btn-default {
  background-color: rgb(35, 129, 236);
  color: white;
}

.btn-round:hover{
  color:lightgray;
}

.btn-default {
  background-color: rgb(35, 129, 236);
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    color: gray;
  }
  50% {
    opacity: 0.5;
    color: wheat;
  }
  100% {
    opacity: 1;
    color: black;
  }
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
